<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>


<p>
  <strong>Comments:</strong>
</p>
<div id='comments'>
  <% @post.comments.persisted.each do |comment| %>
    <%= render partial: 'comments/comment', object: comment %>
  <% end %>
</div>

<%= form_for [@post, @comment], remote: true do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <strong><%= f.label :body, "New comment" %></strong>
  <p><%= f.text_area :body %></p>
  <%= f.submit "Add Comment" %>
<% end %>
